<i class="fa fa-pencil" (click)="onChange(content)"></i>

<!-- Modal -->
<ng-template #content let-modal id="exampleModalLong" tabindex="-1" role="dialog">
  <form role="form" class="modal-body" #f="ngForm" (ngSubmit)="f.form.valid && onFormSubmit()" method="post">
    <div>
      <div class="fare-rate-tab-content text-center"
        style="padding: 60px 70px 0px 70px; text-align:center;    margin-top: 30px;">
        <div class="modal-shipping-title">
          <h2>Shipping <span>details</span></h2>
        </div>
        <div class="modal-shipping-info">
          <ul>
            <li class="d-flex">
              <div class="shipping-address-form">
                <div class="shipping-country-box form-group">
                  <label for="from-country">from customer</label>
                  <input name="senderName" type="text" id="from-country" placeholder="Sender's Name"
                    [(ngModel)]="model.senderName" required name="senderName"  #senderName="ngModel"  ngModel disabled>
                </div>

                <div class="shipping-country-box form-group">
                  <label for="from-country-location">add parcel origin</label>
                  <input type="text" placeholder="Enter Address" id="from-country-location"
                    [(ngModel)]="model.senderAddress"
                    [ngClass]="{'invalid-data': senderAddress.invalid && f.submitted, 'valid-data':senderAddress.valid && f.submitted}"
                    required name="senderAddress" #senderAddress="ngModel" maxlength="30" ngModel>
                  <div *ngIf="senderAddress.touched && senderAddress.invalid" class="alert alert-danger" >
                    <div *ngIf="senderAddress.errors?.['required']">
                      Sender Address is required.
                    </div>
                    <div *ngIf="senderAddress.errors?.['maxlength']">
                      maximum 30 characters only.
                    </div>
                  </div>
                </div>
                <div class="single-shipping-details-box form-group">
                  <label for="from-country-location">Origin City</label>
                  <input name="senderCityName" type="text" id="from-country-location" placeholder="Eg:- Indore"
                    [(ngModel)]="model.senderCityName"
                    [ngClass]="{'invalid-data': senderCityName.invalid && f.submitted, 'valid-data':senderCityName.valid && f.submitted}"
                    required name="senderCityName" #senderCityName="ngModel" pattern="[a-zA-Z][a-zA-Z ]+" maxlength="30"
                    ngModel>
                  <div *ngIf=" senderCityName.touched && senderCityName.invalid" class="alert alert-danger">
                    <div *ngIf="senderCityName.errors?.['required']">
                      Sender City Name is required.
                    </div>
                    <div *ngIf="senderCityName.errors?.['pattern']">
                      Sender City Name is invalid.
                    </div>
                    <div *ngIf="senderCityName.errors?.['maxlength']">
                      maximum 30 characters only.
                    </div>
                  </div>
                </div>

                <div class="single-shipping-details-box form-group">
                  <label for="from-country-location">Origin Pincode</label>
                  <input name="senderPinCode" name="senderPinCode" #senderPinCode="ngModel" type="number"
                    [(ngModel)]="model.senderPinCode" required id="from-country-location" placeholder="Eg:- 452001"
                    pattern="^[1-9][0-9]{5}$"
                    [ngClass]="{'invalid-data': senderPinCode.invalid && f.submitted, 'valid-data':senderPinCode.valid && f.submitted}"
                    ngModel>
                  <div *ngIf="senderPinCode.touched && senderPinCode.invalid" class="alert alert-danger" >
                    <div *ngIf="senderPinCode.errors?.['required']">
                      Sender Pincode is required
                    </div>
                    <div *ngIf="senderPinCode.errors?.['pattern']">
                      Sender Pincode is invalid
                    </div>
                  </div>
                </div>

                <br>
              </div>
            </li>
            <li class="d-flex">
              <div class="shipping-address-form">
                <div class="shipping-country-box form-group">
                  <label for="from-country">Mobile Number</label>
                  <input name="senderMobileNumber" type="text" id="from-country-location"
                    [(ngModel)]="model.senderMobileNumber"
                    [ngClass]="{'invalid-data': senderMobileNumber.invalid && f.submitted, 'valid-data':senderMobileNumber.valid && f.submitted}"
                    required name="senderMobileNumber" #senderMobileNumber="ngModel" maxlength="10"
                    pattern="^[6-9]\d{9}$" ngModel>
                  <div *ngIf="senderMobileNumber.touched && senderMobileNumber.invalid" class="alert alert-danger" >
                    <div *ngIf="senderMobileNumber.errors?.['required']">
                      Sender Mobile Number is required
                    </div>
                    <div *ngIf="senderMobileNumber.errors?.['pattern']">
                      Sender Mobile Number is invalid(Start With 6-9).
                    </div>
                    <div *ngIf="senderMobileNumber.errors?.['maxlength']">
                      Only 10 Digit Mobile Number is Accept.
                    </div>
                  </div>
                </div>

                <div class="shipping-country-box form-group">
                  <label for="from-country">Email Id</label>
                  <input name="senderEmailId" type="email" id="from-country-location" email
                    placeholder="Eg:- abc@mail.com" [(ngModel)]="model.senderEmailId"
                    required name="senderEmailId" #senderEmailId="ngModel" disabled>
                </div>

              </div>
            </li>
            <li>
              <div class="shipping-address-form">
                <div class="shipping-country-box form-group">
                  <label for="to-country">TO Customer</label>
                  <input name="receiverName" type="text" id="to-country" placeholder="Receiver's Name" [(ngModel)]="model.receiverName"
                    required name="receiverName" #receiverName="ngModel" maxlength="30" ngModel disabled>
                </div>

                <div class="shipping-country-box form-group">
                  <label for="to-country-location">add parcel final destination</label>
                  <input name="receiverAddress" type="text" id="to-country-location" placeholder="Receiver's Address"
                    [(ngModel)]="model.receiverAddress"
                    [ngClass]="{'invalid-data': receiverAddress.invalid && f.submitted, 'valid-data':receiverAddress.valid && f.submitted}"
                    required name="receiverAddress" #receiverAddress="ngModel" minlength="8" maxlength="30" ngModel>
                  <div *ngIf="receiverAddress.touched && receiverAddress.invalid" class="alert alert-danger" >
                    <div *ngIf="receiverAddress.errors?.['required']">
                      Receiver Address Name is required
                    </div>
                    <div *ngIf="receiverAddress.errors?.['minlength']">
                      minimm enter 8 character
                    </div>
                    <div *ngIf="receiverAddress.errors?.['maxlength']">
                      maximum 30 char only
                    </div>
                  </div>
                </div>

                <div class="single-shipping-details-box form-group">
                  <label for="from-country-location">Destination City</label>
                  <input name="receiverCityName" type="text" id="from-country-location" placeholder="Eg:- Gwalior"
                    [(ngModel)]="model.receiverCityName"
                    [ngClass]="{'invalid-data': receiverCityName.invalid && f.submitted, 'valid-data':receiverCityName.valid && f.submitted}"
                    required name="receiverCityName" #receiverCityName="ngModel" maxlength="30"
                    pattern="[a-zA-Z][a-zA-Z ]+" ngModel>
                  <div *ngIf="receiverCityName.touched && receiverCityName.invalid" class="alert alert-danger">
                    <div *ngIf="receiverCityName.errors?.['required']">
                      Receiver City Name is required
                    </div>
                    <div *ngIf="receiverCityName.errors?.['pattern']">
                      Receiver City Name is invalid
                    </div>
                    <div *ngIf="receiverCityName.errors?.['maxlength']">
                      maximum 30 char only
                    </div>
                  </div>
                </div>


                <div class="single-shipping-details-box form-group">
                  <label for="from-country-location">Destination Pincode</label>
                  <input name="receiverPinCode" #receiverPinCode="ngModel" [(ngModel)]="model.receiverPinCode"
                    type="number"
                    [ngClass]="{'invalid-data': receiverPinCode.invalid && f.submitted, 'valid-data':receiverPinCode.valid && f.submitted}"
                    id="from-country-location" pattern="^[1-9][0-9]{5}$" placeholder="Eg:- 567001" required  ngModel>
                  <div *ngIf="receiverPinCode.touched && receiverPinCode.invalid" class="alert alert-danger">
                    <div *ngIf="receiverPinCode.errors?.['required']">
                      Receiver Pincode is required
                    </div>
                    <div *ngIf="receiverPinCode.errors?.['pattern']">
                      Receiver Pincode is invalid
                    </div>
                  </div>
                </div>

              </div>
            </li>
            <li class="d-flex">
              <div class="shipping-address-form">
                <div class="shipping-country-box form-group">
                  <label for="from-country">Mobile Number</label>
                  <input name="receiverMobileNumber" type="text" id="from-country-location"
                    placeholder="Eg:- 9898989898" [(ngModel)]="model.receiverMobileNumber"
                    [ngClass]="{'invalid-data': receiverMobileNumber.invalid && f.submitted, 'valid-data':receiverCityName.valid && f.submitted}"
                    required name="receiverMobileNumber" pattern="^[6-9]\d{9}$" maxlength="10"
                    #receiverMobileNumber="ngModel" ngModel>
                  <div *ngIf="receiverMobileNumber.touched && receiverMobileNumber.invalid" class="alert alert-danger">
                    <div *ngIf="receiverMobileNumber.errors?.['required']">
                      Receiver Mobile Number is required.
                    </div>
                    <div *ngIf="receiverMobileNumber.errors?.['pattern']">
                      Receiver Mobile Number is invalid(Start With 6-9).
                    </div>
                    <div *ngIf="receiverMobileNumber.errors?.['maxlength']">
                      Only 10 digitMobile Number is Accept.
                    </div>
                  </div>
                </div>

                <div class="shipping-country-box form-group">
                  <label for="from-country">Email Id</label>
                  <input name="receiverEmailId" type="email" id="from-country-location" placeholder="Eg:- abc@mail.com"
                    [(ngModel)]="model.receiverEmailId" [(ngModel)]="model.receiverEmailId" email
                    required #receiverEmailId="ngModel"  disabled  ngModel>
                </div>

              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>

    <div>
      <div class="fare-rate-tab-content" style="padding: 0px 70px 60px 70px;">
        <div class="modal-shipping-details">
          <div class="modal-shipping-title">
            <h2>items <span>details</span></h2>
          </div>
          <div class="shipping-details-info">
            <div class="single-shipping-details-box shipping-weight">
              <label for="packaging-weight">Category</label>
              <select class="custom-select" name="category" id="packaging-weight" [(ngModel)]="model.category"
                #category="ngModel" required disabled ngModel>
                <option [ngValue]="null">---Select---</option>
                <option value="ELECTRONICS">Electronics</option>
                <option value="MEDICAL">Medical</option>
                <option value="HOUSEHOLD">Household</option>
                <option value="DOCUMENT">Document</option>
                <option value="VEHICLE">Vehicle</option>
                <option value="LARGE_CARGO">Large Cargo</option>
              </select>
            </div>


            <div class="single-shipping-details-box shipping-transport">
              <label for="cargo-transport">Priority</label>
              <select class="custom-select" name="priority" id="cargo-transport" [(ngModel)]="model.priority"
                #priority="ngModel" required disabled ngModel>
                <option [ngValue]="null">---Select---</option>
                <option value="LOW">Low</option>
                <option value="MEDIUM">Medium</option>
                <option value="HIGH">High</option>
                <option value="URGENT">Urgent</option>
              </select>
            </div>

            <div class="shipping-country-box form-group">
              <label class="mycss2" for="from-country">Custom package Instructiions</label>
              <input name="userInstruction" #userInstruction="ngModel" type="text" [(ngModel)]="model.userInstruction"
                placeholder="Custom Instructiions" class="mycss" maxlength="50" disabled required ngModel>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <button type="submit" class="btn f-right nextBtn-2 btn-success" [disabled]="f.form.invalid"><span>Confirm
        &nbsp;</span> Booking</button>
  </form>
</ng-template>
<!-- modal end -->
