#modal-form-back{
    max-width: 1200px !important;
}

.modal-dialog{
    max-width: 1200px;
}

.mycss{
    display: block;
    width: 260px;
    padding: 10px;
    text-align: center;
    margin-top: -15px;
}

.mycss2{
    color:#F54C0D;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;

}

#mycssicon{
    color:blue;
    font-size:20px;
}