<app-header></app-header>

<main class="p-5">
  <div class="tracking-area">
      <div class="example-header">
        Page Size:
        <select (change)="onPageSizeChanged()" id="paginateCount">
          <option value="10" selected="">10</option>
          <option value="25">25</option>
          <option value="100">100</option>
          <option value="500">500</option>
        </select>
      </div>

      
      <ag-grid-angular style="width: 1500px; height: 500px;" 
      class="ag-theme-alpine" 
      [columnDefs]="columnDefs"
      (gridReady)="onGridReady($event)" 
      [defaultColDef]="defaultColDef" 
      [enableRangeSelection]="true"
      [pagination]="true" 
      [paginationPageSize]="paginationPageSize"
      [paginationNumberFormatter]="paginationNumberFormatter"
      domLayout='autoHeight'
      [frameworkComponents]="frameworkComponents"
      ></ag-grid-angular>
  </div>
</main>
<app-footer></app-footer>



<!-- <main>
  <div class="tracking-area pt-95 pb-115">
    <div class="container">
      <table datatable [dtOptions]="dtOptions" class="row-border hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Booked BY</th>
            <th>Booked From</th>
            <th>Mobile</th>
            <th>Pincode</th>
            <th>Receiver Name</th>
            <th>Receiver Address </th>
            <th>Receiver Mobile</th>
            <th>Receiver PinCode</th>
          </tr>
        </thead>
        <tbody *ngIf="trackings?.length != 0">
          <tr *ngFor="let track of trackings">
            <td>{{ track.bookingId }}</td>
            <td>{{ track.senderName }}</td>
            <td>{{ track.senderAddress }}</td>
            <td>{{ track.senderMobileNumber }}</td>
            <td>{{ track.senderPinCode }}</td>
            <td>{{ track.receiverName }}</td>
            <td>{{ track.receiverAddress }}</td>
            <td>{{ track.receiverMobileNumber }}</td>
            <td>{{ track.receiverPinCode }}</td>
          </tr>
        </tbody>
        <tbody *ngIf="trackings?.length == 0">
          <tr>
            <td colspan="3" class="no-data-available">No data!</td>
          </tr>
        </tbody>
      </table>      
    </div>
  </div>
</main> -->
