<app-header></app-header>

<main class="p-5">
  <div class="tracking-area">
      <div class="example-header">
        Page Size:
        <select (change)="onPageSizeChanged()" id="paginateCount">
          <option value="10" selected="">10</option>
          <option value="25">25</option>
          <option value="100">100</option>
          <option value="500">500</option>
        </select>
      </div>

      
      <ag-grid-angular style="width: 1500px; height: 500px;" 
      class="ag-theme-alpine" 
      [columnDefs]="columnDefs"
      (gridReady)="onGridReady($event)" 
      [defaultColDef]="defaultColDef" 
      [enableRangeSelection]="true"
      [pagination]="true" 
      [paginationPageSize]="paginationPageSize"
      [paginationNumberFormatter]="paginationNumberFormatter"
      domLayout='autoHeight'
      [frameworkComponents]="frameworkComponents"
      ></ag-grid-angular>
  </div>
</main>
<app-footer></app-footer>
