<app-header></app-header>
<main>
    <div class="tracking-area pt-95 pb-115">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10">
                    <div class="tracking-id-info text-center">
                        <p>Enter Your Cargo Tracking, Door to Door Office <a href="#">Order Number.</a></p>

                        <form #f="ngForm" class="tracking-id-form" (ngSubmit)="onSubmit(f)">
                            <input type="text" id="tracking_id" #first="ngModel" ngModel name="trackingId">
                            <button class="btn red-btn">Tracking</button>
                        </form>

                        
                        <div class="tracking-list" id="status-icon">
                            <ul>
                                <li [class.active]="isDispatched()">
                                    <div class="tracking-list-icon">
                                        <i class="flaticon-box"></i>
                                    </div>
                                    <div class="tracking-list-content">
                                        <p>Dispatch</p>
                                    </div>
                                </li>
                                <li [class.active]="isDeparted()">
                                    <div class="tracking-list-icon">
                                        <i class="flaticon-warehouse"></i>
                                    </div>
                                    <div class="tracking-list-content">
                                        <p>departed country</p>
                                    </div>
                                </li>
                                <li [class.active]="isDestined()">
                                    <div class="tracking-list-icon">
                                        <i class="flaticon-placeholder"></i>
                                    </div>
                                    <div class="tracking-list-content">
                                        <p>Destination</p>
                                    </div>
                                </li>
                                <li [class.active]="isSuccessful()">
                                    <div class="tracking-list-icon">
                                        <i class="flaticon-audit"></i>
                                    </div>
                                    <div class="tracking-list-content">
                                        <p>Successful</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div *ngFor="let tracking of trackingDetails">
                            <div class="card">
                                {{ tracking.firstName }}
                                {{ tracking.lastName }}
                                {{ tracking.address }}
                            </div>
                        </div>
                        <div class="tracking-help">
                            <p>Unable to Track Your Shipment ? | <a href="#">NEED HELP?</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</main>
<app-footer></app-footer>